:root {
    --header-height: 58px;
}

body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #ff4b22; */
    background-color: #858484;
    padding-top: var(--header-height);
}


header {
    background-color: #262525;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 1000;
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}


header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
}


header a:hover {
    background-color: #ddd;
    color: black;
}


header a.split {
    float: right;
    background-color: #262525;
    color: white;
}

header a.split:hover {
    background-color: #000;
    color: white;
}   


header a.normal {
    float: left;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    padding: 16px 30px;
}

header a.normal:hover {
    background-color: #4c4c4c;
    color: white;
}   


header h2{
    color: #f2f2f2;
    margin: 0;
    padding-right: 20px;
}

.navbar-profile {
    float: right;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    padding: 0px;
}

.navbar-profile img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.navbar-profile .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-profile .info h2 {
    margin: 0;
    font-size: 16px;
}

/* Responsive design for tablets and mobile */
@media (max-width: 1024px) {
    header a {
        padding: 10px 15px;
        font-size: 18px;
    }
    
    header a.normal {
        padding: 16px 20px;
    }
    
    .navbar-profile {
        padding: 0px 10px;
    }
}

@media (max-width: 768px) {
    :root {
        --header-height: 50px;
    }
    
    header {
        height: var(--header-height);
    }
    
    header a {
        padding: 8px 10px;
        font-size: 16px;
    }
    
    header a.normal {
        padding: 12px 15px;
    }
    
    header h2 {
        font-size: 14px;
    }
    
    .navbar-profile .info h2 {
        font-size: 14px;
    }
    
    .navbar-profile img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
}

@media (max-width: 480px) {
    :root {
        --header-height: 45px;
    }
    
    header {
        height: var(--header-height);
    }
    
    header a {
        padding: 6px 8px;
        font-size: 14px;
    }
    
    header a.normal {
        padding: 10px 12px;
    }
    
    header h2 {
        display: none;
    }
    
    .navbar-profile .info {
        display: none;
    }
    
    .navbar-profile img {
        width: 28px;
        height: 28px;
        margin-right: 4px;
    }
}

.navbar-profile .info h3 {
    margin: 0;
    font-size: 12px;
    color: #ccc;
}

/* Global back button styling */
.back {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.back a {
    display: inline-block;
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 100%;
    margin-left: 8px;
    transition: all 0.3s ease;
}

.back a:hover {
    background-color: #333333 !important;
}

.back a:active {
    background-color: #000000 !important;
}

/* Menu bar back button styling */
.menu-bar .back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-right: auto;
}

.menu-bar .back a {
    padding: 14px 25px;
    font-size: 120%;
    margin-left: 8px;
}

.menu-bar .back a:link, .menu-bar .back a:visited {
    background-color: #41302f;
    color: rgb(255, 255, 255);
}

.menu-bar .back a:hover, .menu-bar .back a:active {
    background-color: rgb(0, 0, 0);
}

