.department{
    background-color: #fbf5f5;
    padding: 15px;
    margin: 30px 80px 40px 80px;
    border-radius: 8px;
}

h1{
    text-align: center;
    color: #030000;
    font-size: 400%;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #262525;
}