tr th {
  padding: 10px 5px 10px 5px;
  background-color: #262525;
  font-size: 17px;
  color: rgb(241, 221, 221);
}

table, th, td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.search-bar {
  float: right;
}

.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 25px;
  border: none;
}

.search-bar button {
  float: right;
  padding: 10.5px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar button:hover {
  background: #ccc;
}

h1{
  text-align: center;
  font-size: 250%;
  color: #262525;
}

.menubar{
  width: auto;
  
}

.search-bar a{
  display: flex;
  justify-content: center;
}

body{
  margin-left: 1%;
  margin-right: 1%;
}

.menu-bar a.back{
  margin-top: 2vh;
  float: left;
  border-radius: 5px;
  padding: 10px;
  margin-left: 8px;
  font-size: 120%;
  color: #030000;
}


.menu-bar a.back:link, .menu-bar a.back:visited {
  background-color: #41302f;
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.menu-bar  a.back:hover, .menu-bar  a.back:active {
  background-color: rgb(0, 0, 0);
}


.menu-bar a{
  text-align: center;
  float: right;
  margin-top: 2vh;
  text-decoration: none;
  color: #262525;
}

.menu-bar a{
  /* margin-top: 10px; */
  border-radius: 5px;
  padding: 10px;
  margin-left: 8px;
  font-size: 120%;
  color: #030000;
}

/* Responsive design for tablets and mobile */
@media (max-width: 1024px) {
  tr th {
    padding: 8px 4px 8px 4px;
    font-size: 15px;
  }
  
  td {
    padding: 8px 0 0 0;
    font-size: 14px;
  }
  
  .search-bar input[type=text] {
    font-size: 20px;
    padding: 5px;
  }
  
  .search-bar button {
    font-size: 16px;
    padding: 9px 8px;
  }
}

@media (max-width: 768px) {
  body {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  
  tr th {
    padding: 6px 3px 6px 3px;
    font-size: 13px;
  }
  
  table, th, td {
    font-size: 12px;
  }
  
  td {
    padding: 6px 0 0 0;
  }
  
  .search-bar {
    flex-direction: column;
    margin-top: 60px;
  }
  
  .search-bar input[type=text] {
    width: 85%;
    font-size: 16px;
    padding: 6px;
    margin: 0 auto 8px auto;
  }
  
  .search-bar button {
    width: 85%;
    font-size: 14px;
    padding: 8px 6px;
    margin: 0 auto;
    float: none;
  }
  
  .search-bar a {
    margin-top: 10px;
  }
  
  .menu-bar a.back {
    font-size: 100%;
    padding: 10px 15px;
  }
  
  .menu-bar a {
    font-size: 100%;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  
  tr th {
    padding: 5px 2px 5px 2px;
    font-size: 11px;
  }
  
  table, th, td {
    font-size: 10px;
  }
  
  td {
    padding: 5px 0 0 0;
  }
  
  .search-bar {
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }
  
  .search-bar input[type=text] {
    width: 90%;
    font-size: 14px;
    padding: 5px;
    margin: 0 auto 6px auto;
  }
  
  .search-bar button {
    width: 90%;
    font-size: 12px;
    padding: 6px 4px;
    margin: 0 auto;
    float: none;
  }
  
  .menu-bar  a.back {
    font-size: 85%;
    padding: 8px 10px;
    margin-left: 2px;
  }
  
  .menu-bar a {
    font-size: 85%;
    padding: 6px 6px;
    margin-left: 2px;
  }
}


.menu-bar a:link, .menu-bar a:visited {
  background-color: #356b16;
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.menu-bar a:hover, .menu-bar a:active {
  background-color: rgb(49, 201, 6);
}

.menu-bar a.red{
  background-color: #742521;
} 

.menu-bar a.red:hover, .menu-bar a.red:active {
  background-color: rgb(255, 0, 0);
}



.student-link {
  text-decoration: none;
  color: inherit;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: #e7cacaa1;
}



td {
  padding: 10px 0 0 0;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

