<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Studsight - Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_password.css') }}">
</head>

<body>
    <div class="page">
        <div class="container">
            <h1 class="title">RESET PASSWORD</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category|default('info') }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST">
                <div class="input-row">
                    <label for="new_password">Enter your new password:</label>
                    <input type="password" id="new_password" name="new_password" required>

                    <label for="confirm_password">Confirm your new password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>

                <input class="btn" type="submit" value="Submit">
            </form>
            <br>
            <a href="{{ url_for('login') }}"><h2>Back to Login</h2></a>
        </div>

    </div>

</body>

</html> 